body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: yellow;
  background-color: #1F2544;
  overflow: hidden;
}

#title {
  margin-top: 40px;
  width: 400px;
}

#board {
  width: 450px;
  height: 450px;
  border: 10px solid yellow;
  display: flex;
  flex-wrap: wrap; /*tiles go from left to right and fill*/
  margin: 0 auto; /*centers the box*/
  margin-top: 50px;
  margin-bottom: 50px;

  box-shadow: 0 0px 30px 0 yellow;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border-radius:5px;
}

#board img {
  width: 148px;
  height: 148px;
  border: 1px solid black;
}